body {
    background: linear-gradient(forestgreen, black);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 5px auto;
}

header {
    display: flex;
    font-size: 1.4rem;
    color: azure;
    flex-wrap: wrap;
    height: fit-content;
}

#header {
    flex: 1;
    min-width: 300px;
}

#headerInputContainer {
    background-color: limegreen;
    border-radius: 5px;
    height: 70px;
    background-image: linear-gradient(limegreen, lightgrey);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

#searchInput {
    width: 170px;
}

#navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#nav {
    background-color: #e7a25a;
    display: flex;
    box-shadow: 0 1px 10px black;
    padding: 20px;
    background-image: linear-gradient(#e7a25a, grey);
    flex: 1;
    justify-content: center;
}

#navItems {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#navItems > li {
    text-decoration: none;
    margin-right: 50px;
    padding-right: 30px;
    border-right: 1px solid black;
    color: azure;
    text-transform: uppercase;
}

#navItems > li > a {
    text-decoration: none;
    color: azure;
    transition: font-size 0.2s ease;
}

#navItems > li:hover {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

#navItems > li > a:hover {
    color: lime;
}

#navItems > li:first-child {
    padding-left: 40px;
    font-weight: bold;
}

#navItems > li:last-child {
    border: none;
}

@media screen and (max-width: 700px) {

    #navItems {
        padding-left: 80px;
    }

    #navItems > li {
        border-right: none;
    }

    #navItems > li:first-child {
        padding-left: 0;
    }

    #cards {
     flex-wrap: wrap;
    }

}

#infoSection {
    flex: 1;
    background-color: yellowgreen;
    border-radius: 4px;
    background-image: linear-gradient(yellowgreen, lightgrey);
}

#infoQuestion {
    font-size: 2.2rem;
    color: azure;
    padding: 30px 0 20px 15px;
}

#siteInfo {
    font-size: 1.4rem;
    padding: 0 25px 0 25px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

#lessonsCard {
    border: 1px solid lime;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 20px 20px 25px;
    color: azure;
    list-style-type: disclosure-closed;
    flex: 40%;
    margin-right: 10px;
}

#lessonsCard > h2 {
    font-size: 2rem;
    color: limegreen;
}

#lessonsCard > ol > li {
    margin: 6px 0 6px 0;
    font-size: 1.2rem;
}

#whyUsCard {
    border: 1px solid lime;
    border-radius: 5px;
    margin-top: 20px;
    /* margin-left: 309px; */
    padding: 20px 20px 20px 40px;
    color: azure;
    font-size: 1rem;
    list-style-type: lower-alpha;
    flex: 40%;
    margin-left: 10px;
}

#whyUsCard > h2 {
    font-size: 2rem;
    color: limegreen;
}

#whyUsCard > ul > li {
    margin: 20px 0 20px 0;
}


footer {
    background-color: limegreen;
    margin: 40px 0 20px 0;
    padding: 50px 0 50px 0;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    width: 103.5%;
    color: azure;
}
