*{
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    margin-top: 100px;
}

.group-one {
    display: flex;
    position: relative;
}

.calculator {
    margin-left: 60px;
}

h1 {
    padding: 10px;
    text-align: center;
}

iframe {
    height: 250px;
    border: 20px solid #00ff00;
    margin: 3px;
}

.formValidation {
    position: relative;
    float: right;
    margin: 0 auto;
    margin-right: 0;
}

.formValidation iframe {
    float: right;
}

.second-section a {
    margin: 0 auto;
}

.second-section iframe {
    margin: 0 auto;
    display: block;
}

.cf::before, .cf::after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}

.cf {
    zoom: 1;
}

.menu {
    list-style: none;
    margin: 20px auto;
    width: fit-content;
    list-style: none;
    justify-content: center;
}

.menu li {
    background: #e7a25a;
    float: left;
    position: relative;
    transform: skew(25deg);
    margin-right: 1px;
}

.menu li:hover {
    background: #e74c3c;
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.menu > li > a {
    transform: skew(-25deg);
    padding: 1em 2em;
}

.submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.submenu li {
    background-color: #34495e;
    position: relative;
    overflow: hidden;
}

.submenu > li > a {
    padding: 1em 2em;
}

.submenu > li::after {
    content: "";
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

.submenu > li:nth-child(odd) {
    transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
    transform: skewX(-25deg);
}

.submenu > li:nth-child(odd)::after {
    transform: skewX(-25deg) rotate(3deg);
    right: -50%;
}

.submenu > li:nth-child(even) {
    right: -3%;
    transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
    transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

.submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    transition: .2s ease;
}

.menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even) {
    transform: skewX(25deg) translateX(15deg);
}

.menu > li:hover .submenu li:nth-child(odd) {
    transform: skewX(-250deg) translateX(-15deg);
}

@media (max-width: 620px) {
    .group-one {
        display: flex;
        flex-direction: column;
    }

    .formValidation {
        margin: 0 auto;
    }

    .calculator {
        margin: 0;
    }

    iframe {
        width: 95%;
    }
}

