*{
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin-top: 100px;
}

.group-one {
    display: flex;
    position: relative;
}

.calculator {
    margin-left: 60px;
}

h1 {
    padding: 10px;
    text-align: center;
}

iframe {
    height: 250px;
    border: 20px solid #00ff00;
    margin: 3px;
}

.formValidation {
    position: relative;
    float: right;
    margin: 0 auto;
    margin-right: 0;
}

.formValidation iframe {
    float: right;
}

.second-section a {
    margin: 0 auto;
}

.second-section iframe {
    margin: 0 auto;
    display: block;
}

@media (max-width: 620px) {
    .group-one {
        display: flex;
        flex-direction: column;
    }

    .formValidation {
        margin: 0 auto;
    }

    .calculator {
        margin: 0;
    }

    iframe {
        width: 95%;
    }
}

