html, body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}
.App {
  text-align: center;
  height: 100vh;
}

.bg {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(6,117,32,1) 100%, rgba(0,212,255,1) 100%);
}

#nav {
  color: true rgb(0,115,207);
}

#Gene1 {
  height: 300px;
  width: 300px;
  border: solid gold 10px;
  border-bottom: none;
  border-radius: 30%;
}

.companyName {
  font-size: 55px;
  color: #7CFC00;
  letter-spacing: 7rem;
  text-transform: uppercase;
  margin-left: 95px;
  font-weight: bolder;
}

.companyName2 {
  letter-spacing: 3rem;
  color: rgb(0,115,207);
  font-size: 35px;
}

.missionStatement {
  color: rgb(0,115,207);
  background-color: #7CFC00;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 75px;
}

.frames {
  margin-top: 10%;
  font-weight: 600;
}

.frames ul {
  text-align: left;
  list-style: none;
}

.firstFrame {
  color: rgb(0,115,207);
  background-color: #7CFC00;
  height: 50%;
  width: 40%;
  border-radius: 10px;
}

.secondFrame {
  color: rgb(0,115,207);
  background-color: #7CFC00;
  float: right;
  height: 50%;
  width: 35%;
  border-radius: 10px;

}

.thirdFrame {
  color: rgb(0,115,207);
  background-color: #7CFC00;
  height: 50%;
  width: 40%;
  margin-top: 20%;
  border-radius: 10px;

}